.transfer-container {
  max-width:600px;
  width:100%;
  /* margin-top: 7px; */
  margin: 0 auto;
  /* padding-top:20px; */
}
.card-common {
    padding:15px;
    /* border-radius: 4px; */
}
.noti {
  border-right: 5px solid rgba(75,184,151,0.8);
  font-size: 13px;
  padding: 5px 15px;
  cursor: pointer;
}
body {
    background: url("/assets/bg.jpg");
}
.bg-account {
    display: block;
    overflow:hidden;
    padding-top:15px;
    /* background: #252b42; */
}
.bg-account > .col-md-4 {
    float: left;
}

.white-card {
    background: rgba(20,153,118,0.6);
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
    border-left: 4px solid red;
    /* height: 200px; */
    margin-bottom:13px;
}
.grey-card {
    /* background:rgba(20,113,120,0.6);   */
    background:#fff;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.5); 
    /* border-left: 4px solid green;  */
    /* height: 200px; */
    margin-bottom:13px;
}


.total-amt-title {
    color:#b6b8ba;
    font-size:14px;
    margin-bottom: 2px;
}
.total-amt {
    /* color:rgb(0, 182, 0); */
    font-size:25px;
    color: #000;
}

.account-list {
    display: block;
    overflow: hidden;
}
.account-type {
  font-size: 24px;
  font-weight: 400;
  /* color: rgba(255,255,255,0.8); */
  color:#000;
}
.acc-num {
    font-size:12px;
    color:#b6b8ba;
}
.acc-amt {
    /* color:rgb(0, 182, 0); */
    font-size:35px;
    color:#000;
}
.pay-div {
  color:#0062a8;
  font-weight: 500;
  cursor: pointer
}

.green-color {
  color:rgba(75,184,151,1) !important;
}

.pay-div span.more-accounts-options {
  margin: 0px 8px;
  border-left: 1px solid #dfdfdf;
  padding-left: 10px;
}

.saving-graph img{
  max-width: 150px;
  width: 100%;
}
.visa {
    font-size: 24px;
    color:#0062a8;
}
.acc-amt-red {
    /* color:red; */
    font-size: 35px;
    color:#000;
}
.col-half {
  width: 50%;
}
.emi-details {
  margin: 10px 0px 15px;
}
.loan-details span {
  margin-bottom: 10px;
  line-height: 15px;
  font-size: 13px;
}

.loan-details > div {
  overflow: hidden;
}

.loan-details > div span:last-child {
  font-weight: 400;
}
#myProgress {
  width: 100%;
  background-color: #ddd;
  border-radius: 20px;
  margin-top:15px;
  margin-bottom: 48px;
}

#myBar {
  width: 80%;
  height: 10px;
  background: #4cb700; /* Old browsers */
  background: -moz-linear-gradient(left, #4cb700 0%, #7aed00 19%, #cfea00 37%, #eac700 50%, #ea8c00 66%, #e85800 83%, #e80000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #4cb700 0%,#7aed00 19%,#cfea00 37%,#eac700 50%,#ea8c00 66%,#e85800 83%,#e80000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #4cb700 0%,#7aed00 19%,#cfea00 37%,#eac700 50%,#ea8c00 66%,#e85800 83%,#e80000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cb700', endColorstr='#e80000',GradientType=1 );
  border-radius: 20px;
}
#myProgress .limit {
  font-size:13px;
  margin-top: 8px;
}

#myProgress .limit p {
  margin-bottom: 2px;
  text-align: center;
  line-height: 13px;
}
.progress {
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
  z-index: 0;
}
.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}
.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress .progress-left {
  left: 0;
}
.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 4px;
  border-style: solid;
  position: absolute;
  top: 0;
  border-color:rgb(32, 252, 32);
}
.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 75px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress .progress-right {
  right: 0;
}
.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 75px;
  border-bottom-left-radius: 75px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}
.progress .progress-value {
  display: flex;
  border-radius: 50%;
  font-size: 15px;
  text-align: center;
  line-height: 20px;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 300;
  width: 100%;
}

/* This for loop creates the 	necessary css animation names 
Due to the split circle of progress-left and progress right, we must use the animations on each side. 
*/
.progress[data-percentage="10"] .progress-right .progress-bar {
  animation: loading-1 1.5s linear forwards;
}
.progress[data-percentage="10"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="20"] .progress-right .progress-bar {
  animation: loading-2 1.5s linear forwards;
}
.progress[data-percentage="20"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="30"] .progress-right .progress-bar {
  animation: loading-3 1.5s linear forwards;
}
.progress[data-percentage="30"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="40"] .progress-right .progress-bar {
  animation: loading-4 1.5s linear forwards;
}
.progress[data-percentage="40"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="50"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="50"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="60"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="60"] .progress-left .progress-bar {
  animation: loading-1 1.5s linear forwards 1.5s;
}

.progress[data-percentage="70"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="70"] .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.5s;
}

.progress[data-percentage="80"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="80"] .progress-left .progress-bar {
  animation: loading-3 1.5s linear forwards 1.5s;
}

.progress[data-percentage="90"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="90"] .progress-left .progress-bar {
  animation: loading-4 1.5s linear forwards 1.5s;
}

.progress[data-percentage="100"] .progress-right .progress-bar {
  animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="100"] .progress-left .progress-bar {
  animation: loading-5 1.5s linear forwards 1.5s;
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(36);
    transform: rotate(36deg);
  }
}
@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(72);
    transform: rotate(72deg);
  }
}
@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(108);
    transform: rotate(108deg);
  }
}
@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144);
    transform: rotate(144deg);
  }
}
@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180);
    transform: rotate(180deg);
  }
}

@media only screen and (max-width:1100px) {
  .acc-amt,.acc-amt-red {
    font-size: 18px;
  }
}
@media only screen and (max-width: 990px){
}
@media only screen and (max-width: 768px){
  .white-card,.grey-card {
    height: auto;
  }
}
@media only screen and (max-width: 450px) {
  .account-type {
    font-size:18px;
  }
}

@media only screen and (max-width: 400px) {
  .loan-details span{
    display:block;
    float: none;
    margin-bottom: 4px;
  }
}
